<div class="{{ key }}">
  <label for="search_criteria_{{key}}_operator_value">{{ fieldList[key] }}</label>
          

  <select name="search[criteria][{{key}}][operator]">
    {% if key in ['inhalt', 'bemerkungen', 'originaltitel', 'abbildung', 'anderePublikation', 'ort'] %}
      <option value="sp">Splittersuche</option>
      <option value="cn">Enthält</option>
      <option value="bw">Beginnt mit</option>
      <option value="ew">Endet mit</option>
      <option value="eq">Ist gleich</option>
      <option value="neq">Ist ungleich</option>
    {% elseif key in ['publikation', 'material', 'url', 'uebersetzungen'] %}
      <option value="cn">Enthält</option>
      <option value="bw">Beginnt mit</option>
      <option value="ew">Endet mit</option>
      <option value="eq">Ist gleich</option>
      <option value="neq">Ist ungleich</option>
    {% else %}
      <option value="eq">Ist gleich</option>
      <option value="neq">Ist ungleich</option>
      <option value="lt">Kleiner</option>
      <option value="lte">Kleiner oder gleich</option>
      <option value="gt">Größer</option>
      <option value="gte">Größer oder gleich</option>
    {% endif %}
  </select>
  
  <input type="text" name="search[criteria][{{key}}][value]" id="search_criteria_{{key}}_operator_value" />

</div>