{% extends '::base.html.twig' %}

{% block title %}
  {{ parent() }} - {{ record.originaltitelHtml|raw }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body %}

  <p>Datensatz {{ show ? show['skip'] + 1 : 1 }} von {{ countSearch }} Suchtreffern (Gesamt: {{ countTotal }})

    {% if showPrev %}
      <a href="{{ path('PapyrillioHgvBundle_BrowseSingle', {'search': search, 'sort': sort, 'show': showPrev}) }}">zurück</a>
    {% endif %}
  
    {% if showNext %}
      <a href="{{ path('PapyrillioHgvBundle_BrowseSingle', {'search': search, 'sort': sort, 'show': showNext}) }}">weiter</a>
    {% endif %}

  </p>



  {# Testfälle: 50307, 8886, 19648, 63705, 9088, 8981a #}
  
  {% include 'PapyrillioHgvBundle:Browse:_datasheet.html.twig' with { 'record': record } %}

  {% if showPrev %}
    <a href="{{ path('PapyrillioHgvBundle_BrowseSingle', {'search': search, 'sort': sort, 'show': showPrev}) }}">zurück</a>
  {% endif %}

  {% if showNext %}
    <a href="{{ path('PapyrillioHgvBundle_BrowseSingle', {'search': search, 'sort': sort, 'show': showNext}) }}">weiter</a>
  {% endif %}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/datasheet.js') }}" type="text/javascript"></script>
{% endblock %}