<!DOCTYPE html>
<html>
    <head>
        {% include 'matomo_tag.html' %}
        <meta charset="UTF-8" />
        <title>{% block title %}HGV{% endblock %}</title>
        {% block stylesheets %}
          <link href="{{ asset('css/960/reset.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('css/960/text.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('css/960/960.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('css/print.css') }}" type="text/css" rel="stylesheet" media="print" />
          <link href="{{ asset('css/jquery-ui.min.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('css/jquery-ui.structure.min.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('css/jquery-ui.theme.min.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% include 'matomo.html' %}
    </head>
    <body>
    {% if app.environment == 'dev' %}
      <img src="{{ asset('images/dev.png') }}" alt="bleeding edge" width="100" style="position: fixed; right: 0; z-index: 999;" />
    {% endif %}
    <div id="wrapper"><!-- #wrapper -->
      <header><!-- header -->
        <h1><a href="#">Heidelberger Gesamtverzeichnis der griechischen Papyrusurkunden Ägyptens</a></h1>
        
        <h2 style="position: relative;">
        <a onfocus="this.blur();" href="{{ path('PapyrillioHgvBundle_DefaultIndex') }}"><img id="hgv" src="{{ asset('images/HGV.png') }}" alt="HGV – Heidelberger Gesamtverzeichnis" title="Heidelberger Gesamtverzeichnis der griechischen Papyrusurkunden Ägyptens" /></a>  
          <a onfocus="this.blur();" href="{{ path('PapyrillioHgvBundle_DefaultIndex') }}"><img id="logo" src="{{ asset('images/Siegel.jpg') }}" alt="Siegel" title="Heidelberger Gesamtverzeichnis der griechischen Papyrusurkunden Ägyptens" /></a>
        </h2>
      </header><!-- end of header -->

      <nav><!-- top nav -->
        <div class="menu">
          <ul>
            <li><a href="{{ path('PapyrillioHgvBundle_BrowseMultiple') }}" title="Liste der Datensätze">Tabelle</a></li>
            <li><a href="{{ path('PapyrillioHgvBundle_BrowseSingle') }}" title="Einzelansicht">Formular</a></li>
            <li><a href="{{ path('PapyrillioHgvBundle_BrowseSearch') }}" title="Filterfunktion">Suche</a></li>
            <li><a href="{{ path('PapyrillioHgvBundle_BrowseMultiple', {'search': {'skip': 0, 'max': 100}, 'sort': {1: {'key': 'publikationLang', 'direction': 'ascend'}}}) }}">Alle</a> </li>
            <li><a href="/texte/HGV-Texte.html" title="Hilfe">Texte</a></li>
            {% if app.environment == 'dev' %}
              <li><a href="{{ path('PapyrillioHgvBundle_PublicationIndex') }}" style="color: red;">Texte im HGV</a></li>
            {% endif %}
            
            <li><a href="{{ path('PapyrillioHgvBundle_DefaultAbbreviation') }}" title="Abkürzungen im HGV zitierter Bücher" target="Biblio">Abkürzungen zitierter Bücher</a></li>
            <li><a href="https://papy.zaw.uni-heidelberg.de/gv0/Papyri/Verstreutes_Uebersicht.html" title="Verstreut publizierte Heidelberger Papyri" target="Biblio">Verstreute Papyri</a></li>
            
            <li class="inactive">
              <a href="{{ path('PapyrillioHgvBundle_DefaultIndex') }}" title="Info">Info</a>
              <ul class="sub">
                <li><a href="{{ path('PapyrillioHgvBundle_DefaultIntroduction') }}" title="Einführung und Geschichte">Einführung</a></li>
                <li><a href="{{ path('PapyrillioHgvBundle_DefaultPublication') }}" title="Liste der aufgenommenen  Publikationen">Liste der Publikationen</a></li>
                <li><a href="{{ path('PapyrillioHgvBundle_DefaultHelp', {'topic': 'search', language: 'de'}) }}" title="Hilfeseiten auf Deutsch">Hilfeseiten auf Deutsch</a></li>
                <li><a href="{{ path('PapyrillioHgvBundle_DefaultHelp', {'topic': 'search', language: 'en'}) }}" title="Help pages in English">Help pages in English</a></li>
                <li>
                  <a href="#" id="feedback" title="Lob, Kritik und Wünsche">Ihre Nachricht an uns …</a>
                  <div id="feedbackDialogue" style="display: none;" title="Ihre Nachricht an uns, Lob, Kritik und Wünsche">
                    <div class="ui-widget">
                      <div id="feedbackInfo" class="ui-state-highlight ui-corner-all">
                        <p>
                          <span class="ui-icon ui-icon-info"></span>
                          <strong>Hey!</strong> <span></span>
                        </p>
                      </div>
                    </div>
                    <form id="feedback" action="#">
                      <label for="feedbackName">*Name:</label>
                      <input type="text" id="feedbackName" name="name" tabindex="1001" required />
                      <br/>
                      <label for="feedbackEmailAddress">*E-Mail:</label>
                      <input type="email" id="feedbackEmailAddress" name="email" tabindex="1002" required />
                      <br/>
                      <label for="feedbackSubject">Betreff:</label>
                      <input type="text" id="feedbackSubject" name="subject" value="" tabindex="1003" />
                      <br/>
                      <textarea id="feedbackMessage" name="message" rows="4" tabindex="1004" required ></textarea>
                      <br/>
                      <button type="submit" tabindex="1006" id="feedbackSend">Senden</button>
                      <button type="reset" tabindex="1007" id="feedbackCancel">Zurücksetzen</button>
                      <br/>
                    </form>
                    <p>
                      Bitte geben Sie in die obigen Felder Ihren Namen, Ihre E-Mail-Adresse und Ihre Nachricht an uns ein und drücken Sie auf senden oder schreiben Sie uns eine <a id="feedbackEmail" href="mailto:james.cowey@urz.uni-heidelberg.de,carmen.lanz@uni-heidelberg.de?subject=Rückmeldung zum Webauftritt vom HGV&body=Ihre Nachricht an uns …">E-Mail</a>.
                    </p>
                  </div>
                </li>
              </ul>
            </li>

          </ul>
        </div>
      </nav><!-- end of top nav -->

      <section id="main">
        <section id="content"><!-- #content -->
          {% block body %}{% endblock %}
        </section><!-- end of #content -->
      </section><!-- end of #main content and sidebar-->
      
      <footer>
      <section id="footer-area">
  
        <section id="footer-outer-block">
            <aside class="footer-segment">
                <h4>Kataloge</h4>
                <ul>
                  <li><a target="_blank" href="https://www.ub.uni-heidelberg.de/papyri">Griechische Papyri</a></li>
                  <li><a target="_blank" href="https://www.ub.uni-heidelberg.de/papyri">Arabische Papyri</a></li>
                  <li><a target="_blank" href="https://www.ub.uni-heidelberg.de/papyri">Demotische Papyri</a></li>
                  <li><a target="_blank" href="https://www.ub.uni-heidelberg.de/papyri">Koptische Papyri</a></li>
                </ul>
            </aside><!-- end of #first footer segment -->

            <aside class="footer-segment">
                <h4>Awesome Stuff</h4>
                  <ul>
                    <li><a target="_blank" href="http://www.papyri.info/">Papyri.info</a></li>
                    <li><a target="_blank" href="http://www.trismegistos.org/">Trismegistos</a></li>
                    <li><a target="_blank" href="http://www.aere-egke.be/BP.htm">Bibliographie Papyrologique</a></li>
                  </ul>
            </aside><!-- end of #second footer segment -->

            <aside class="footer-segment">
                <h4>Institutsdirektion</h4>
                <ul>
                  <li><a target="_blank" href="https://www.uni-heidelberg.de/fakultaeten/philosophie/zaw/papy/forschung/joerdens_infos.html">Prof. Dr. Andrea Jördens</a></li>
                </ul>
                <h4>Sekretariat</h4>
                <ul>
                  <li><a href="mailto:papyrologie@zaw.uni-heidelberg.de">papyrologie@zaw.uni-heidelberg.de</a></li>
                </ul>
            </aside><!-- end of #third footer segment -->

            <aside class="footer-segment">
                <h4>Institut für Papyrologie</h4>
                  <p>&copy; 2012 <a target="_blank" href="https://www.uni-heidelberg.de/fakultaeten/philosophie/zaw/papy">HGV</a><br />Marstallstr. 6<br />D-69117 Heidelberg<br />Tel.: +049-06221-542396<br />Fax.: +49-06221-543679<br /><a href="https://www.uni-heidelberg.de/datenschutzerklaerung_web.html" target="_zde">Zentrale Datenschutzerklärung der Universität Heidelberg</a></p>
            </aside><!-- end of #fourth footer segment -->

        </section><!-- end of footer-outer-block -->

      </section><!-- end of footer-area -->
    </footer>
  
    </div><!-- #wrapper -->
        
        {% block javascripts %}
            <script src="{{ asset('js/jquery/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/jquery/jquery-ui.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/jquery/feedback.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/clipboard/clipboard.min.js') }}" type="text/javascript"></script>
            <script type="text/javascript">
              if (window != top) top.location.href = location.href;
            </script>
        {% endblock %}
    </body>
</html>
